p {
    color:whitesmoke
}

body {
    background-color:black;
}

h1 {
    font-size: 15px;
    color:aliceblue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: cyan;
    color: black;
}


#bg {
    background-color: black;
    background-image: url(./images/space2.jpg);
    background-size: cover;
    height: 1000px;
    position: relative;
}

.header {
    position: fixed;
    margin: 0;
    height: 65px;
    padding: 18px;
    background-size: cover;
}

.head-name {
    margin-left: 40px;
    margin-right: 40px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 25px;
    text-align: left;
}

.link-box {
    position: absolute;
    right: 2px;
    left: 2px;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.link {
    width: 50px;
    height: 50px;
}

.logo {
    flex-basis: 50px;
    width: 50px;
    line-height: 50px;
    /* flex-grow: ;
    flex-shrink: ; */
}

html, body{
    margin:0 !important;
    padding:0 !important;
}