@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.body {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-rows: 1.5fr repeat(3, auto) 1fr 1fr;
    height: 100vh;
    background-image: url("../images/batman.jpg");
    background-size: contain;
}

.intro {
    font-family: 'VT323', monospace;
    font-size: 2vw;
    grid-row: 2;
}

.name {
    font-family: 'VT323', monospace;
    font-size: 8.5vw;
    color: rgb(255, 255, 255);
    animation: glow 2s ease-in-out infinite alternate;
    grid-row: 3;
}

@keyframes glow {
    from {
        text-shadow: 0 0 5px rgb(210, 211, 255), 0 0 10px rgb(24, 25, 61), 0 0 15px rgb(12, 12, 39);
    }
      
    to {
        text-shadow: 0 0 10px rgb(210, 211, 255), 0 0 15px rgb(197, 196, 255), 
        0 0 20px rgb(24, 24, 63);
    }
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 5px rgb(210, 211, 255), 0 0 10px rgb(24, 25, 61), 0 0 15px rgb(12, 12, 39);
    }
      
    to {
        text-shadow: 0 0 10px rgb(210, 211, 255), 0 0 15px rgb(197, 196, 255), 
        0 0 20px rgb(24, 24, 63);
    }
}

.major {
    color: orangered;
    font-size: 2.5vw;
    font-family: 'Rubik 80s Fade', cursive;
    grid-row: 4;
}

.icon-bar {
    display: flex;
    grid-row: 5;
    align-self: end;
    margin-bottom: 40px;
    width: 25vw;
    justify-content: space-evenly;
}

.icon-bar a {
    color: white;
}

.twitter:hover {
    color: #55ACEE;
    transition: color, 0.3s ease-in-out;
    -webkit-transition: color, 0.3s ease-in-out;
}

.linkedin:hover {
    color: #007bb5;
    transition: color, 0.3s ease-in-out;
    -webkit-transition: color, 0.3s ease-in-out;
}

.telegram:hover {
    color: #229ED9;
    transition: color, 0.3s ease-in-out;
    -webkit-transition: color, 0.3s ease-in-out;
}

.github:hover {
    color: #4078c0;
    transition: color, 0.3s ease-in-out;
    -webkit-transition: color, 0.3s ease-in-out;
}

.arrow {
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    border-style: solid;
    border-color: white;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.arrow:hover {
    border-bottom-width: 3px;
    border-right-width: 3px;
}

@media only screen and (max-width: 600px) { 
    .icon-bar a {
        font-size: 20px;
        width: 40vw;
    }

    .intro {
        font-size: 20px;
    }

    .major {
        font-size: 20px;
    }
}

@media only screen and (min-width: 600px) {
    .icon-bar a {
        font-size: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .icon-bar a {
        font-size: 2.5vw;
    }
}

@media only screen and (min-width: 1200px) {
    .icon-bar a {
        font-size: 2vw;
    }
}