#landing {
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 0.5fr 4fr;
    align-items: center;
    justify-items: center;
    margin: 0 10vw;
}

.heading {
    color:lightslategrey;
    /* color: #A7C7E7; */
    font-size: 5vw;
    font-family: 'VT323', monospace;
    margin: 0;
    padding-bottom: 4px;
}

.about {
    color:lightgray;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 5px 3vh 5px;
}

.pfp-box {
    grid-column: 3;
    width: 60%;
    align-items: center;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}

.pfp {
    border-radius: 2rem;
}

.pfp-info {
    /* padding-top: 8rem;
    padding: 1.5rem; */
    border-radius: 1rem;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
}

.profile h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    color: lightgray;
}