p {
    color:whitesmoke;
    margin: 0;
}

body {
    background-color:black;
    margin: 0;
}

p a {
    color: cyan;
}

p a:hover, a:active {
    color: limegreen;
}

p a:visited {
    color: red;
}



.bg {
    background-color: black;
    background-size: cover;
    position: relative;
}

.navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    height: 38px;
    top: 0;
    width: 100%;
}

.navbar img {
    float: left;
    height: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-emphasis: none;
    text-align: center;
    padding: 10px 14px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(185, 186, 255);
    color: black;
    transition: background-color, color, 0.7s ease-in-out;
    -webkit-transition: background-color, color, 0.7s ease-in-out;
}